
.DS_Store
errors.txt
*.rpa
game/cache/bytecode.rpyb
game/cache/pyanalysis.rpyb
game/cache/screens.rpyb
*.rpyc
*.save
game/saves/persistent
*.bak
log.txt
project.json
traceback.txt
game/firstrun
characters/*.chr
original_story_scripts/*.rpy
original_story_scripts/*.md
*.swp
advanced_scripts/cgs.rpy
advanced_scripts/console.rpy
advanced_scripts/credits.rpy
advanced_scripts/definitions.rpy
advanced_scripts/effects.rpy
advanced_scripts/glitchtext.rpy
advanced_scripts/gui.rpy
advanced_scripts/poems.rpy
advanced_scripts/poems_special.rpy
advanced_scripts/poemwords.txt
advanced_scripts/README.md
advanced_scripts/script-poemgame.rpy
advanced_scripts/transforms.rpy
advanced_scripts/zz_hotkey_buttons.rpy
advanced_scripts/zz_poemgame.rpy
monika_route_answer/T1.rpy
monika_route_answer/T2.rpy
monika_route_answer/T3.rpy
monika_route_answer/T4.rpy
monika_route_answer/T5.rpy
monika_route_answer/T6.rpy
monika_route_answer/T7.rpy
monika_route_answer/T8.rpy
monika_route_answer/T9.rpy
